{% extends 'admins/app.html' %}

{% block body %}

<div class="container-fluid">
    <div class="row">
       <div class="col-sm-12">
          <div class="iq-card">
             <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                   <h4 class="card-title">Category Lists</h4>
                </div>
                <div class="iq-card-header-toolbar d-flex align-items-center">
                   <a href="{% url 'add-cat' %}" class="btn btn-primary">Add Category</a>
                </div>
             </div>
             <div class="iq-card-body">
                <div class="table-view">
                   <table class="data-tables table movie_table " style="width:100%">
                      <thead>
                         <tr>
                            <th style="width:10%;">No</th>
                            <th style="width:20%;">Name</th>
                            <th style="width:40%;">Description</th>
                            <th style="width:10%;">Videos</th>
                            <th style="width:20%;">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                          {% for cat in categories %}
                         <tr>
                            <td>1</td>
                            <td>{{ cat.name }}</td>
                            <td>
                               <p>
                                   {{ cat.description }}
                               </p>
                            </td>
                            <td>{{ cat.video_set.count }}</td>
                            <td>
                               <div class="flex align-items-center list-user-action">
                                  <a class="iq-bg-warning" data-toggle="tooltip" data-placement="top" title=""
                                     data-original-title="View" href="#"><i class="lar la-eye"></i></a>
                                  <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title=""
                                     data-original-title="Edit" href="{% url 'edit-cats' cat.slug %}">
                                     <i class="ri-pencil-line"></i></a>
                                  <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title=""
                                     data-original-title="Delete" href="{% url 'del_cat' cat.slug %}"><i
                                        class="ri-delete-bin-line"></i></a>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                         

                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>


 

{% endblock %}
